.footer__button a {
    font-size: 15px;
    color: #95989a;
    text-decoration: none;
}

.footer__button {
    padding-bottom: 25px;
}

.politic {
    margin-top: 40px;
}

.politic h1,
.politic h2,
.politic h3,
.politic h4 {
    color: #05141F;
    font-weight: 700;
    margin-bottom: 20px;
}

.politic p {
    margin-bottom: 20px;
    color: #697279;
}

.politic b {
    font-weight: 700;
}

.politic ul,
.politic ol {
    padding-left: 1.3em;
    margin-bottom: 20px;

}

@media (max-width: 935px) {
    .politic {
        margin-top: 110px;
    }
}

.row_politic ul {
    list-style: initial;
    padding: 25px;
}

.row_politic li {
    position: relative;
    padding-top: 5px;
}

.row_politic ul ul {
    list-style: square;
}

.row_politic ul ul ul {
    list-style: circle;
}

.footer__button a:hover {
    color: var(--c-accent);
}

footer {
    bottom: 0;
    left: 0;
}

.row_politic {
    display: flex;
}


.menu-info__content .text-x4 {
    display: block;
}

.text-x4 {
    font-size: 35px;
    line-height: 114%;
    letter-spacing: -.02em;
    font-weight: 700;
    padding-bottom: 50px;
}

.menu-info__content {
    padding: 50px;
    position: relative;
    max-height: none;
    background: none;
    overflow: visible;
    overflow: initial;
}

.mb-3 {
    margin-bottom: 15px;
}

.section-break {
    margin: 20px 0 15px;
    border: 1px solid #05141f;
}

.mb-4 {
    margin-bottom: 20px;
}

.color-black,
.color-primary-black {
    color: #05141f;
}

.text-x5 {
    font-size: 25px;
    padding: 25px;
}


.breadcrumbs {
    display: flex;
}

.nuxt-link-active {
    font-weight: bold;
}

.btn-politic {
    cursor: pointer;
}

.hidden {
    display: none;
}

.text-s2i,
.text-s2i-b {
    font-size: 15px;
    line-height: 167%;
}

.text-s2i {
    font-weight: 400;
}

.color-dark-gray {
    color: #697279;
}

.mb-0 {
    margin-bottom: 30px !important;
}

.color-dark-gray {
    color: #697279;
}

.text-x0 {
    font-size: 25px;
}

@media (max-width: 600px) {
    .section-break {
        display: inherit !important;
    }
}

.footer__des {
    padding-bottom: 20px;
}